<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_wled._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to your local network to discover and communicate with WLED devices on your network.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>This app communicates with WLED devices on your local network.</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
</dict>
</plist>
